body {
    font-family: Arial, sans-serif;
    background-color: #262626;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #5a8e82;
}

.container {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.bloc-compteur {
   display: flex;
   flex-direction: column;
   gap: 10px;
   text-align: center;
}

.cout {
    font-size: 20vw;
    font-weight: bold;
    margin: 20px 0;
    margin: 0;
    letter-spacing: -0.05em;
}

.timing {
    font-size: 4vw;
    letter-spacing: -0.05em;
    margin: 0;
}